.d-flex {
  display: flex;
  &.jc-start {
    justify-content: flex-start;
  }

  &.jc-end {
    justify-content: flex-end;
  }

  &.jc-center {
    justify-content: center;
  }

  &.jc-between {
    justify-content: space-between;
  }

  &.jc-around {
    justify-content: space-around;
  }
  &.f-row {
    flex-direction: row;
  }
  &.f-row-reverse {
    flex-direction: row-reverse;
  }
  &.f-col {
    flex-direction: column;
  }
  &.f-col-reverse {
    flex-direction: column-reverse;
  }
  &.f-nowrap {
    flex-wrap: nowrap;
  }
  &.f-wrap {
    flex-wrap: wrap;
  }
  &.f-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
