//color sytem
$gray: #cccccc;
$primary: #0d47a0;
$secondary: #383838;
$green: #247921;
$red: #ff0000;

$colors: (
  "gray": $gray,
  "primary": $primary,
  "secondary": $secondary,
  "green": $green,
  "red": $red,
);
